html,body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.row1{
    height:54px
}
.name{
    display: none;
}
.fa-bars{
    padding:20px;
    
}
.header_searchicon{
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);

}
.c-image{
    width: 108px;
}
.fa-shopping-cart{
    font-size: 14px;
    padding:20px;
}

.ms-bannerbottom{
    width: 100%;
}
.ms-h2{
    font-size: 24px;
    line-height: 28px;
    padding: 36px 0 4px;
    font-weight: 600;
    padding-top: 0;
    color: black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-color:white;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color:black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color:black;
}
.ms-button--color{
   background-color:rgb(168, 0, 0);
   color: white;
}
footer{
    background-color: rgb(242, 242, 242);
}
.ms-footer__list{
    list-style: none;
    margin-left: -18px;
    line-height: 16px;
}
.ms-footer__list--heading{
    font-size: 15px;
    font-weight: 600;
    color:rgb(97, 97, 97);
    line-height: 20px;
    padding: 36px 0 4px;
}
li{
    color:rgb(97, 97, 97);
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer__icon--link{
    font-size: 11px;
    line-height: 16px;
    display: inline-block;
    padding-right: 24px;
    color: #616161;
    white-space: nowrap;
    margin-left: 1em;
}
.footer__list2{
    list-style-type: none;
    margin-left: -1em;
}
.li__view{
   font-size: 11px;
    line-height: 16px;
    float: left;
    padding-right: 18px;
    color: #616161;
}
.section5_innerpara--color{
    background-color: white;
    color:#107c10;
    
}
.fa-user-circle{
    font-size: 30px;
}



/*------------------------------small----iphoneX---------------------------*/

@media only screen and (max-width: 500px){
.c-image{
    
    margin-left: 33px;
    margin-top: 12px;
}
.fa-shopping-cart{
    padding-left: 15px;
    float: left;
}
.logo_links{
    display: none;
}
/* section1 */
.ms-banner{
    background-color: rgb(168, 0, 0);
    height: 55px;
}
.ms-banner__text{
    padding: 12px 36px;
    color: #fff !important;
    text-align: center;
    font-size: 13px;
    margin-left: 3px;
    display: inline-block;
}
.fa-user-circle{
    padding-top:12px;
    padding-left: 12px;
}
/* section1 */
/* section2 */
.ms-slider__content--center {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.ms-slider__h1{
      font-size: 20px;
      font-weight: 600;
  }
.ms-slider__text{
    font-size: 15px;
      font-weight: 400;
      color: rgb(0, 0, 0);
}
.section2_slider--modif{
    max-width: 1350px;
}

/* section2 */

/* section3 */
.ms-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 48px;
    margin-left: -0.1em;
}
.ms__list-icon{
   float: left;
   height: 20px;
   width: 20px;
   margin-right: 8px;
   margin-bottom: 0;

}
.ms__list--link{
    display: inline-block;
    padding: 12px 6px;
    min-height: 44px;
    color: inherit;
}
.ms__list--text{
    float:left;
    font-weight: 600;
    text-align: left;
    margin: auto;
    max-height: 60px;
    line-height: 20px;
    overflow: hidden;
    white-space: normal;
    margin-top: -4px;
    position: relative;
    font-size: 15px;
    color: black;
}
/* section3 */
/* section4 */
.ms-card{
border: none;
}
.ms-card__img{
    width: 337.5px;
    height: 188.562px;
    margin-left: 6px;
}
.ms-card__body{
 margin-left: 6px;
}
.ms-card__heading{
    display: block;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 37px;
}
.ms-card__link{
    padding: 8px 3px 7px 0;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    margin-left: 0px;
    background: transparent;
    transition: none;
    white-space: normal;
    text-align: left;
    font-weight: 600;
    text-decoration: none;
 }
 .ms-card__link--view{
     color: #a80000;
 }
 
/* section4 */
/* section5 */

.section5-smscr{
    max-width:300px !important;
}

/* section5 */
/* section 7 */
.ms-social{
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.6);
    padding-right: 12px;
    margin-bottom: 4px;
    float: left;
    margin-top: 10px;
}
.ms-social__list{
    list-style-type: none;
}
.ms-social__list--view{
    float: left;
    margin-right: 12px;
}
.ms-social__list--image{
    width: 25px;
    height: 25px;
}
/* section 7 */
/* footer */
.footer__icon--link{
    font-size: 11px;
    line-height: 16px;
    display: inline-block;
    padding-right: 24px;
    color: #616161;
    white-space: nowrap;
    margin-left: 1em;
}
.footer__list2{
    list-style-type: none;
    margin-left: -1em;
}
.li__view{
   font-size: 11px;
    line-height: 16px;
    float: left;
    padding-right: 24px;
    color: #616161;
}
/* footer */
}
/*------------------------------medium----iPad-----------------------*/

@media screen and (min-width: 767px)and (max-device-width: 1025px){

.header_searchicon{
    margin-right: 98px;
}
.fa-user-circle{
    padding-top:12px;
    padding-left: 9px;
}
.c-image{
    margin-left: 131px;
    margin-top: 12px;
}
.fa-shopping-cart{
    padding-left: 145px;
    
}
.logo_links{
    display: none;
}
/* section1 */
.ms-banner{
    background-color: rgb(168, 0, 0);
    height: 41px;
    margin-right: -27px;
    margin-left: -34px;
    width:110%;
}
.ms-banner__text{
    padding: 12px 36px;
    color: #fff !important;
    text-align: center;
    font-size: 13px;
    margin-left: 3px;
    display: inline-block;
}
/* section1 */
/* section2 */
.ms-slider__content--center {
    position: absolute;
    top: 47%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.ms-slider__content--center2 {
    position: absolute;
    top: 29%;
    left: 33%;
    transform: translate(-50%, -50%);
}
.ms-slider__h1{
      font-size: 24px;
      font-weight: 600;
  }
.ms-slider__text{
    font-size: 15px;
      font-weight: 400;
      color: rgb(0, 0, 0);
}

/* section2 */

/* section3 */
.ms-list{
    list-style-type: none;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 48px;
    margin-left: -.9em;
    white-space: nowrap;
    width: auto;
    transition: left cubic-bezier(.16,1,.29,.99) .667s;
}
.ms__list-icon{
   float: left;
   height: 40px;
   width: 40px;
   margin-bottom: 8px;
   vertical-align: middle;
   margin-left: 60px;

}
.ms__list--link{
    display: inline-block;
    padding: 12px 6px;
    min-height: 44px;
    color: inherit;
    width: 184px;
    border: 2px solid transparent;
}
.ms__list--text{
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    margin: auto;
    max-height: 60px;
    line-height: 20px;
    margin-left: 28px;
    width: 125px;
    overflow: hidden;
    white-space: normal;
    margin-top: -4px;
    position: relative;
    text-align: center;
    white-space: normal;
    max-width: 125px;
    margin-left: 22px;
}

/* section3 */
/* section4 */
.ms-card__heading{
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 37px;
}
.ms-card__link{
   padding: 8px 3px 7px 0;
   position: relative;
   border: 2px solid transparent;
   outline: 1px solid transparent;
   outline-offset: -3px;
   margin-left: -11px;
   background: transparent;
   transition: none;
   white-space: normal;
   text-align: left;
   font-weight: 600;
   text-decoration: none;
}
.ms-card__link--view{
    color: #a80000;
}
.ms-card__link{
    margin-left: 0px;
}

/* section4 */
/* section5 */

.section5_innerpara{
    margin-left: 26px;
    margin-top: 28px;
    max-width: 340px;
}


/* section5 */
/* section 7 */
.ms-social{
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.6);
    padding-right: 12px;
    margin-bottom: 4px;
    float: left;
    margin-top: 10px;
}
.ms-social__list{
    list-style-type: none;
}
.ms-social__list--view{
    float: left;
    margin-right: 12px;
}
.ms-social__list--image{
    width: 25px;
    height: 25px;
}
/* section 7 */
}
/*------------------------------large----Desktop-----------------------*/

@media screen and (min-width: 1027px){
.microsoft_lg--nav{
    margin-top: 9px;
    padding-left:83px;
}
.c-image{
    width: 98px;
}

.logo_links{
    color:black;
    font-weight: 100;
    font-size: 13px;
    text-decoration: none;
    padding-left: 14px;
    
}
.logo_links--modifier{
    padding-left: 22px;
}
.dropdown{
    float: left;
    margin-left: 300px;
    
}
.dropdown_btn--modifer{
    background-color: white;
    font-size:13px;
    color:black;
    border:none;
    margin-top: 9px;
    
}
.fa-user-circle-o{
    color: black;
}
.header_width--modif{
    max-width: 500px;
}
.header_searchicon{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width:20px;
    float:left;
    padding: 13px;
    margin-left:20px;
    }
.fa-shopping-cart{
    padding-left: 4px;
}
/* setion1 */
.ms-banner{
    background-color: rgb(168, 0, 0);
    height: 41px;
    margin-right: -9px;
    margin-left: -14px;
    width: 1191px;
}
.ms-banner__text{
    padding: 12px 36px;
    color: #fff !important;
    text-align: center;
    font-size: 13px;
    margin-left: 3px;
    display: inline-block;
}
/* setion1 */
/* setion2 */
.ms-slider__image{
padding-left: 63.25px;
padding-right: 63.25;
}
.ms-slider__view{
padding-right: 64.25px;
}
.ms-slider__content--center {
    position: absolute;
    top: 47%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.ms-slider__content--center2 {
    position: absolute;
    top: 21%;
    left: 29%;
    transform: translate(-50%, -50%);
}
.ms-slider__h1{
      font-size: 24px;
      font-weight: 600;
  }
.ms-slider__text{
    font-size: 15px;
      font-weight: 400;
      color: rgb(0, 0, 0);
}



/* setion2 */
/* section3 */
.ms-list{
    list-style-type: none;
    line-height: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 19%;
    padding-right: 5%;
    padding-top: 48px;
    margin-left: -.9em;
    white-space: nowrap;
    width: auto;
    transition: left cubic-bezier(.16,1,.29,.99) .667s;
}
.ms__list-icon{
   float: left;
   height: 40px;
   width: 40px;
   margin-bottom: 8px;
   vertical-align: middle;
   margin-left: 60px;

}
.ms__list--link{
    display: inline-block;
    padding: 12px 6px;
    min-height: 44px;
    color: inherit;
    width: 184px;
    border: 2px solid transparent;
}
.ms__list--text{
    font-weight: 600;
    font-size: 15px;
    text-align: left;
    margin: auto;
    max-height: 60px;
    line-height: 20px;
    margin-left: 28px;
    width: 125px;
    overflow: hidden;
    white-space: normal;
    margin-top: -4px;
    position: relative;
    text-align: center;
    white-space: normal;
    max-width: 125px;
    margin-left: 22px;
}
/* section3 */
/* section4 */
.ms-card{
    border: none;
    margin-left: -19px;
    }
.ms-card__img{
    width: 266.625px;
    height: 150.031px;
    margin-left: 6px;
    }
.ms-card__body{
    margin-left: 6px;
     width: 18em;
    text-align: left;
    font-size: 15px;
    }
.ms-card__heading{
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 37px;
    }
.ms-card__link{
    padding: 8px 3px 7px 0;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    margin-left: 0px;
    background: transparent;
    transition: none;
    white-space: normal;
    text-align: left;
    font-weight: 600;
    text-decoration: none;
    }
.ms-card__link--view{
    color: #a80000;
    }
    
    /* section4 */
   /* section 7 */
.ms-social{
    font-size: 15px;
    line-height: 20px;
    color: rgba(0,0,0,.6);
    padding-right: 12px;
    margin-bottom: 4px;
    float: left;
    margin-top: 10px;
}
.ms-social__list{
    list-style-type: none;
}
.ms-social__list--view{
    float: left;
    margin-right: 12px;
}
.ms-social__list--image{
    width: 25px;
    height: 25px;
}
/* section 7 */
}
