.row1{
    height:54px
}
.name{
    display: none;
}
.fa-bars{
    padding:20px;
    
}

.header_searchicon{
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);

}
.c-image{
    width: 108px;
}
.fa-shopping-cart{
    font-size: 14px;
    padding:20px;
}
.fa-chevron-right{
    padding-left: 5px;
}
.carousel{
    width:100%;
}

/*------------------------------small----iphoneX---------------------------*/

@media only screen and (max-width: 378px){
.c-image{
    
    margin-left: 37px;
    margin-top: 12px;
    width:112px;
}
.fa-shopping-cart{
    padding-left: 25px;
}
.logo_links{
    display: none;
}
.section1_row2{
    height:58px;
    width:400px;
    background-color: rgb(168, 0, 0);
    margin-top:-2px;
    color:white;
    font-size: 12px;
}
.section1_sentence{
    padding-top: 14px;
    padding-left: 52px;
    font-family: open;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    max-width: 350px;
    text-align: center;
}
.section1_sentence--modif{
    text-decoration: none;
    color: white;
}
.container{
    padding:0;
    margin:0;
     
}
.slider_image--modif{
    width: 110%;
}

}

/*------------------------------medium----iPad-----------------------*/

@media screen and (min-width: 767px)and (max-device-width: 1025px){
.header_searchicon{
    margin-right: 98px;
}
.c-image{
    margin-left: 136px;
    margin-top: 12px;
    width: 110px;
}
.fa-shopping-cart{
    padding-left: 157px;
}
.logo_links{
    display: none;
}
.section1_row2{
    height:41px;
    width:800px;
    background-color: rgb(168, 0, 0);
    
    margin-top:-2px;
    color:white;
    font-size: 12px;
}
.section1_sentence{
    padding-top: 13px;
    padding-left: 155px;
    font-family: open;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.section1_sentence--modif{
    text-decoration: none;
    color: white;
}
.container{
    padding:0;
    margin:0;
     
}
.carousel{
    width: 100%;
}


}
/*------------------------------large----Desktop-----------------------*/

@media screen and (min-width: 1027px){
.microsoft_lg--nav{
    margin-top: 9px;
    padding-left:83px;
}
.c-image{
    width: 98px;
}
.logo_links{
    color:black;
    font-weight: 100;
    font-size: 12px;
    text-decoration: none;
    padding-left: 14px;
    font-family: 'Open Sans', sans-serif;
}
.logo_links--modifier{
    padding-left: 22px;
}
.dropdown{
    float: left;
    margin-left: 315px;
    
}
.dropdown_btn--modifer{
    background-color: white;
    font-size:13px;
    color:black;
    border:none;
    margin-top: 9px;
    
}
.header_width--modif{
    max-width: 500px;
}
.header_searchicon{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    width:20px;
    float:left;
    padding: 13px;
    margin-left:20px;
    }
.fa-shopping-cart{
    padding-left: 6px;
}
.section1_row2{
    height:36px;
    width:1118px;
    background-color: rgb(168, 0, 0);
    margin-left:62px;
    margin-top:-2px;
    color:white;
    font-size: 12px;
}
.section1_sentence{
    padding-top: 11px;
    padding-left: 340px;
    font-family: open;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    
}
.section1_sentence--modif{
    text-decoration: none;
    color: white;
}
.slide{
    height:200px;
}

}





